* {
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  

.main-body{
    color : #0C214A;
    background-color: #faf9f8;
    padding-top: 10vh; /*because of the fixed nav bar*/
    min-height: 100vh;
    max-height: min-content;
}

input::-webkit-input-placeholder {
    color: #0C214A;
    font-size : 1.3rem;
  }