* {
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
}

/*.main-body {
  color: #85144b;
  display : flex; 
  justify-content: center; 
  background-color: #faf9f8;
  padding-top: 12vh; 
  min-height: 100vh;
  max-height: min-content;
}*/

input::-webkit-input-placeholder {
  color: #0c214a;
  font-size: 1.3rem;
}
